<!doctype html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RU Course Maps</title>
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<h4>ERROR 404</h4>
<h3>Uh no! You are not suppose to be here. Please go back one page.</h3>
</html>
