<!doctype html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RU Course Maps</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <div class="wrapper">
        <h1 style="color:#F5002E">Error 404</h1>
        <h3>Uh no! You are not suppose to be here. Please <a href="/">CLICK HERE</a> to go back.</h3>
    </div>
</body>





</html>
