<html>
<head>
		<title>RUCourseMaps</title>
  </br>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
		<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
		<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>

		<!-- Imports needed to use the qTip 'hover' functionality. -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.2.5/cytoscape-qtip.js"></script>

		<style>
			body {
				font-family: helvetica;
				font-size: 14px;
			}

			#cy {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 999;
			}

			h1 {
				opacity: 0.5;
				font-size: 1em;
			}
		</style>

<script>

  var courses = "{{ courses }}";
	var prereqs = "{{ prereqs }}";
	var names		= "{{	names   }}";
 $(function(){
				//TEST String for Classes / Nodes. We replace these values with those gotten from Roops.
        //var classes = courses;

				//var p = prereqs;
				//TEST String for Prerequisite classes / Edges. We replace these values with those gotten from Roops.
				//	var prereqs = prereqs;

				//Empty Arrays that will be filled with respective node and edge objects.
				var coursesArr = courses.split(", ");
				var prereqsArr = prereqs.split(", ");
				var courseNameArr = names.split(", ");
				var nodes = [];
				var edges = [];
				//creates and fills $courses with Node objects from $classes.
				for(index = 0; index < coursesArr.length; index++)
				{
					nodes.push
					(
						{
					 data: {
						id: coursesArr[index],
						//href: 'https://www.cs.rutgers.edu/undergraduate/courses/'+coursesArr[index]+'/', //adds href functionality for CS department only. See readme
																										//on what I need to make it work for every department.
						name: courseNameArr[index]			//Title of the course.
						   }
						}
					);
				}

				// creates and fills $courseEdges with Edge objects from $prereqs
				for(index = 1; index < prereqsArr.length; index=index+2)
				{
					edges.push
					(
						{
						data: {
							source: prereqsArr[index-1],
							target: prereqsArr[index]
						}
						}
					);
				}

				//cytoscape object cy is called as a div in the html.
				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					boxSelectionEnabled: false,
					autounselectify: true,

					layout: {
						name: 'dagre'
					},

					style: [
						{
							selector: 'node',
							style: {
								'content': 'data(id)',
								'text-opacity': 1,
								'text-valign': 'center',
								'text-halign': 'right',
								'background-color': '#F5002E'
							}
						},

						{
							selector: 'edge',
							style: {
								'width': 2,
								'target-arrow-shape': 'triangle',
								'line-color': '#000000',
								'target-arrow-color': '#000000'
							}
						}
					],

					elements: {

						nodes: nodes, //see above, ~line 48-59

						edges: edges //see above, ~line 62 - 73
					}


				});

			/////////Function that governs the href'ing event. /////////////
			//	cy.on('tap', 'node', function(){
			//		try { // your browser may block popups
			//				window.open( this.data('href') );
			//				//console.log("I was clicked!"); //Testing console. It works, btw.
			//			}
			//		catch(e){ // fall back on url change
			//		window.location.href = this.data('href');
			//				}
			//	});
			////////////////////////////////////////////////////////////////

			/////////Function that governs the hover over event. /////////////
				cy.on('mouseover', 'node', function(event) {
					var node = event.cyTarget;
					node.qtip({
						content: this.data('name'),	//course title		//+'</br>'+this.data('href'), //<--may be implemented in the future.
						position: {
						my: 'bottom center', //the position of the tooltip (think "my tooltip's _x_ ")
						at: 'top center',	//the intended target position of the tooltip (think "_x_ will be placed at _y_")

						},
						show: {
							effect: function(offset) { //adds an animation to the qtip (how it will appear, i.e fade in, load in, etc.)
								$(this).slideDown(100); // "this" refers to the tooltip
							},
							event: event.type,
							ready: true,
							solo: true //hides all other tooltips whenever one is active
						},
						hide: {
						event: 'mouseout unfocus'
						}
					}, event);
				});
			});
</script>
	</head>

	 <script>
	  console.log("The quick brown fox jumps over the lazy dog.");
		console.log("Courses: "+courses);
		console.log("Prereq Pairs: "+prereqs);
		console.log("Course Titles: "+names);
	</script>

	<body>
		<h1>RU COURSE MAPS Deparment:{{ deptnum }}</h1>
		<div id="cy"></div>

	</body>

</html>
