<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Department {{ deptnum }}</title>
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
</head>

<style>
#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
</style>

<body>
    <h1>Department {{ deptnum }}</h1>
    <div id="cy"></div>

    <script>
        var cy = cytoscape({
            container: document.getElementById('cy'),
            style: [
                {   
                    selector: 'node',
                    style: {
                        shape: 'hexagon',
                        'content': 'data(firstname)',
                        'text-opacity': 1,
                        'text-valign': 'top',
                        'text-halign': 'center',
                        'background-color': 'red'
                    }   
                },
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'target-arrow-shape': 'triangle',
                        'line-color': 'black',
                        'target-arrow-color': 'black'
                    }
                }
            ]
        });

        var courses = {{ courses|tojson }}.split(",");
        var names = {{ names|tojson }}.split(",");   
        var prereqs = {{ prereqs|tojson }}.split(",");

        for(index = 0; index < courses.length; index++){
            cy.add({
                data: {
                    id: courses[index],
                    firstname: names[index]
                }
            });
        }
        
        for(index = 1; index < prereqs.length; index += 2){
            cy.add({
                data: {
                    source: prereqs[index-1],
                    target: prereqs[index]
                }
            }); 
        }

        cy.layout({
                name: 'circle'
        }).run();

    </script>
</body>
</html>
