<html>
<head>
		<title>RUCourseMaps - Generic Tab Title Text Goes Here</title>
  </br>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
		<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
		<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>

		<style>
			body {
				font-family: helvetica;
				font-size: 14px;
			}

			#cy {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 999;
			}

			h1 {
				opacity: 0.5;
				font-size: 1em;
			}
		</style>

<script>

  var courses = "{{ courses }}";
	var prereqs = "{{ prereqs }}";
 $(function(){
				//TEST String for Classes / Nodes. We replace these values with those gotten from Roops.
        //var classes = courses;

				//var p = prereqs;
				//TEST String for Prerequisite classes / Edges. We replace these values with those gotten from Roops.
			//	var prereqs = prereqs;

				//Empty Arrays that will be filled with respective node and edge objects.
				var coursesArr = courses.split(", ");
				var prereqsArr = prereqs.split(", ");
				var nodes = [];
				var edges = [];
				//creates and fills $courses with Node objects from $classes.
				for(index = 0; index < coursesArr.length; index++)
				{
					nodes.push
					(
						{
					 data: {
						id: coursesArr[index]

						   }
						}
					);
				}

				// creates and fills $courseEdges with Edge objects from $prereqs
				for(index = 1; index < prereqsArr.length; index=index+2)
				{
					edges.push
					(
						{
						data: {
							source: prereqsArr[index-1],
							target: prereqsArr[index]
						}
						}
					);
				}

				//cytoscape object cy is called as a div in the html.
				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					boxSelectionEnabled: false,
					autounselectify: true,

					layout: {
						name: 'dagre'
					},

					style: [
						{
							selector: 'node',
							style: {
								'content': 'data(id)',
								'text-opacity': 0.5,
								'text-valign': 'center',
								'text-halign': 'right',
								'background-color': '#11479e'
							}
						},

						{
							selector: 'edge',
							style: {
								'width': 4,
								'target-arrow-shape': 'triangle',
								'line-color': '#9dbaea',
								'target-arrow-color': '#9dbaea'
							}
						}
					],

					elements: {

						nodes: nodes, //see above, ~line 48-59

						edges: edges //see above, ~line 62 - 73
					}


				});

			});
</script>
	</head>

	<!-- <script>
	 console.log("say thisss");
		var courses={{ courses }};
		console.log(courses);
		var prereqs={{ prereqs }};
		console.log(prereqs);
	</script> -->

	<body>
		<h1>this is a title</h1>
		<div id="cy"></div>

	</body>

</html>
