<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RU Course Maps</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RUCourse Maps, A site for students to get course information and plan there course load">
    <meta name="author" content="Bhargav Tarpara, Alex Jai, Roopesh K">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starter-template.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RUCourseMaps</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="starter-template">
        
      </div>
    </div>
    <footer class="wrapper" style="font:300 12px/1.6875 sans-serif;">
      <div class="container">
        <p>
        Questions? Feedback? Please email rucoursemaps@gmail.com <br>
        Created by Alex, Roopesh, and Bhargav <br>
        Special thanks to Kartik, Revan, Sakhib, and AP
        </p>
      </div>
    </footer>
  </body>
</html>
